.channelSettingWrapper {
  :global {
    .ant-layout {
      height: calc(100vh - 226px);
      overflow: hidden;
      min-height: auto;
      background: #fff;

      .ant-layout-sider {
        background: none;
        padding: 24px 12px;
        border-right: 1px solid #dadada;

        .ant-layout-sider-children {
          height: auto;
        }

        .ant-tree {
          .ant-tree-node-content-wrapper {
            line-height: 30px;
          }

          .ant-tree-indent-unit,
          .ant-tree-switcher {
            width: 12px;
          }

          .ant-tree-node-selected {
            color: dodgerblue;
            font-weight: bold;
            background: none;
          }
        }
      }

      .ant-layout-content {
        padding: 0 24px;
        overflow-y: auto;

        .ant-tabs-extra-content {
          line-height: 22px;
          *{
            display: inline-block;
            vertical-align: middle;
          }
        }

        .ant-collapse {
          margin-bottom: 12px;

          .ant-collapse-header {
            padding: 8px 16px;
            padding-left: 40px;
            line-height: 30px;
            position: relative;
            .ant-collapse-extra{
              position: absolute;
              top:12px;
              right:12px;
            }
          }

          .ant-table-wrapper {
            margin-bottom: 12px;
            .ant-table-thead{
              th:nth-child(1){
                text-align: center;
              }
            }
            .ant-table-row{
              td:nth-child(1){
                text-align: center;
                span.ant-input-suffix{
                  display: none;
                }
              }
            }
            .ant-divider-vertical {
              margin: 0 15px;
            }
          }

          .anticon svg {
            display: inline-block;
            height: 17px !important;
            width: 17px !important;
          }
        }
      }
    }
  }

  .tabHeader {
    height: 30px;

    input {
      width: 200px;
    }

    span {
      padding: 6px;

      img {
        width: 20px;
        margin: 0 12px;

        &+img {
          margin-left: 0;
        }
      }
    }
  }

  .addNewBtn {
    width: 100%;
    line-height: 42px;
    color: dodgerblue;
    background: rgba(24, 144, 255, 0.1) !important;
    border: none !important;
    letter-spacing: 1px;
    margin-bottom: 12px;

    >span {
      margin-right: 10px;
    }
  }
}
