.con {
  padding: 1rem;
  background-color: #fff;
  & > div {
    min-width: auto;
    max-width: 40em;
    .labelCol {
      line-height: 32px;
      text-align: right;
    }
    .valueCol {
      display: flex;
      :global {
        .ant-input,
        .ant-input-number {
          margin-right: 0.5rem;
          &.error + .anticon-exclamation-circle {
            display: block;
          }
        }
        .anticon-exclamation-circle {
          display: none;
          margin-right: 0.5rem;
          line-height: 32px;
        }
        .ant-input {
          width: 30em;
        }
      }
    }
  }
  .secondRow {
    margin-top: 1rem;
    .sizeAfter {
      line-height: 30px;
    }
  }
}
