@import '~antd/es/style/themes/default.less';

.main {
  // width: 100%;
  .row {
    flex-wrap: nowrap;
    background: @component-background;
  }
  .content {
    height: calc(~'100vh - 20em');
    padding: 10px;
    overflow-y: auto;
  }
  .bgc{
    width: 16px;
    background: rgb(240, 242, 245);
  }
  .slider {
    background: @component-background;
    // border-left: 0px solid @border-color-base;
    :global(.ant-collapse-content-active) {
      max-height: calc(~'100vh - 32.8em');
      overflow-y: auto;
    }
  }
  .resourceLoading{
    position: fixed;
    top: 48vh;
    left: 49vw;
  }
}
