@import '~antd/es/style/themes/default.less';

.main {
  width: 100%;
  background: @component-background;
  .content {
    padding: 10px;
  }
  .slider {
    background: @background-color-base;
    border-left: 2px solid @border-color-base;
  }
}
