.articleCon {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #eee;
  transition: left 0.3s;
  .header {
    height: 120px;
    // border-bottom: 2px solid rgba(153, 153, 153, .2);
    margin-bottom: 1rem;
    color: #333;
    font-size: 1.2rem;
    line-height: 120px;
    text-align: center;
    background-color: #fff;
    // background: url(/banner.jpg);
    background-size: cover;
    .back {
      position: absolute;
      top: 40px;
      left: 345px;
    }
  }
  .body {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    :global {
      .ant-row {
        flex-wrap: nowrap;
        .topTitle {
          margin-top: 30px;
          span {
            padding: 8px 0;
            color: #4c8447;
            font-weight: 500;
            font-size: 26px;
            line-height: 40px;
            border-bottom: 3px solid #4c8447;
          }
        }
        .contentCon {
          margin-top: 20px;
          padding: 0 20px;
          .content-title {
            color: #333;
            font-weight: 500;
            font-size: 22px;
            line-height: 30px;
            text-align: center;
          }
          .content-time {
            margin-top: 10px;
            color: #999;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
          }
          .content-mainCon {
            position: relative;
            min-height: 100px;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #d9d9d9;
            img {
              width: 700px;
            }
          }
        }
      }
    }
  }
  .footer {
    height: 150px;
    margin-top: 50px;
    font-size: 1.2rem;
    line-height: 150px;
    text-align: center;
    background-color: #fff;
    border-top: 2px solid #4c8447;
  }
}
